.coolscollerContainer {
  position: relative;
  box-sizing: border-box;
  overflow: auto;
}

.coolscollerContainer:has([aria-controls="onhover"]) {
  &:hover {
    .coolScrollbarContainer {
      opacity: 1;
    }
  }
}

.coolscollerContainer:has([aria-controls="always"]) {
  .coolScrollbarContainer {
    opacity: 1;
  }
}

.coolScrollbarContainer:hover {
  opacity: 1 !important;
}

.coolscrollerHost {
  overflow: auto;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  box-sizing: border-box;
}

.coolscrollerHost::-webkit-scrollbar {
  display: none;
}

.coolScrollbarContainer {
  transition: all 0.35s ease-out;
  bottom: 0;
  position: absolute;
  top: 0;
  height: 100%;
  right: 4px;
  overflow: hidden;
  &:not([area-active="true"]) {
    opacity: 0;
  }
  .coolScrollbarTrack {
    opacity: 0.3;
    border-radius: 45px;
    background-color: #8f8f8f;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
  }
  .coolScrollbarThumb {
    width: 100%;
    position: absolute;
    background-color: #8f8f8f;
    border-radius: 45px;
    &:hover {
      background-color: #858585;
    }
  }
  &[area-active="true"] {
    .coolScrollbarThumb {
      background-color: #727272;
    }
  }
}
