.coolscoller-container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  &:hover {
    .cool-scrollbar-container {
      opacity: 1;
    }
  }
}

.coolscroller-host {
  overflow: auto;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative;
  box-sizing: border-box;
}

.coolscroller-host::-webkit-scrollbar {
  display: none;
}

.cool-scrollbar-container {
  transition: all 0.35s ease-in-out;
  bottom: 0;
  position: absolute;
  top: 0;
  // width: 12px;
  height: 100%;
  right: 4px;
  opacity: 0;
  overflow: hidden;
  .cool-scrollbar-track {
    opacity: 0.3;
    border-radius: 45px;
    background-color: #8f8f8f;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
  }
  .cool-scrollbar-thumb {
    width: 100%;
    position: absolute;
    background-color: #8f8f8f;
    border-radius: 45px;
    &:hover {
      background-color: #858585;
    }
    &:active {
      background-color: #727272;
    }
  }
}
